*{
  box-sizing: border-box;
}


.bodyPage{
  background-image: url("/styles/kb.jpg")
}

.hidden{
  display: none;
}

.navBar{
 background-color: white;
 border: solid 4px #3F51B5;
 border-radius: 5px;
 box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
 color: #3F51B5;
 height: 5em;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 1;
}

.cubeArea{
  height: 5em;
  width: 100%;
}

/*.wrap {
	perspective: 800px;
	perspective-origin: 70% 100px;
}*/

.wrap{
  animation-duration: 3s;
  /*animation-name: slidein;*/
  animation-iteration-count: infinite;
  animation-name: slideback;
}

/*@keyframes slidein {
  from {
    perspective: 100px;
  	perspective-origin: 1% 400px;
  }
  to {
    perspective: 100px;
  	perspective-origin: 99% 400px;
  }
}*/

@keyframes slideback {
  from {
    perspective: 20em;
    perspective-origin: 50% .01em;
  }
  to {
    perspective: 20em;
    perspective-origin: 50% .01em;
  }
}

.projectTitle{
  background-color: white;
  border: black solid .1em;
  font-size: .9em;
  margin-top: 1em;
  margin: 0 auto;
  width: 4em;
}

.cube {
	position: relative;
  margin-left: 4em;
  margin-top: .8em;
	width: 300px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 300px;
	height: 300px;
}





.textTop{
  color: white;
  margin-top: 5em;
  text-align: center;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.textBottom{
  color: white;
  margin-top: 5em;
  text-align: center;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}



.back {
  background-color: lightblue;
  border: solid 2px;
	transform: translateZ(-150px) rotateY(180deg);
  background: -moz-linear-gradient(90deg, rgba(15,128,64,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,255,255,1)), color-stop(100%, rgba(15,128,64,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(15,128,64,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(15,128,64,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(15,128,64,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(15,128,64,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#0F8040',GradientType=0 ); /* ie6-9 */
}

.textBack{
  color: black;
  margin-top: .7em;
}

.right {
  background-color: khaki;
  border: solid 2px;
	transform: rotateY(-270deg) translateX(150px);
	transform-origin: top right;

  background: -moz-linear-gradient(270deg, rgba(255,28,77,1) 0%, rgba(255,28,77,1) 1%, rgba(128,15,56,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,28,77,1)), color-stop(1%, rgba(255,28,77,1)), color-stop(100%, rgba(128,15,56,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255,28,77,1) 0%, rgba(255,28,77,1) 1%, rgba(128,15,56,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255,28,77,1) 0%, rgba(255,28,77,1) 1%, rgba(128,15,56,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255,28,77,1) 0%, rgba(255,28,77,1) 1%, rgba(128,15,56,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(255,28,77,1) 0%, rgba(255,28,77,1) 1%, rgba(128,15,56,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF1C4D', endColorstr='#800F38',GradientType=0 ); /* ie6-9 */
}

.textRight{
  color: white;
  font-size: .5em;
  margin: 0;
  text-align: center;
}

.tic-tac-toeImageCube{
  border: white solid 2px;
  float: left;
  height: 2.6em;
  margin-top: .2em;
  margin-left: .6em;
  width: 2.5em;
}

.left {
  background-color: lightgreen;
  border: solid 2px;
	transform: rotateY(270deg) translateX(-150px);
	transform-origin: center left;

  background: -moz-linear-gradient(89deg, rgba(84,133,255,1) 45%, rgba(47,130,199,1) 69%, rgba(0,128,128,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(31%, rgba(47,130,199,1)), color-stop(55%, rgba(84,133,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(89deg, rgba(84,133,255,1) 45%, rgba(47,130,199,1) 69%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(89deg, rgba(84,133,255,1) 45%, rgba(47,130,199,1) 69%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(89deg, rgba(84,133,255,1) 45%, rgba(47,130,199,1) 69%, rgba(0,128,128,1) 100%); /* ie10+ */
  background: linear-gradient(1deg, rgba(84,133,255,1) 45%, rgba(47,130,199,1) 69%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#5485FF',GradientType=0 ); /* ie6-9 */
}

.textLeft{
  color: white;
  font-size: .5em;
  margin: 0;
  text-align: center;
}

.spursBlogImageCube{
  border: white solid 2px;
  float: left;
  height: 2.6em;
  margin-top: .2em;
  margin-left: .2em;
  width: 3.4em;
}

.top {
  background-color: lightgrey;
  border: solid 2px;
	transform: rotateX(-90deg) translateY(-150px);
	transform-origin: top center;
}

.bottom {
  background-color: lightgrey;
  border: solid 2px;
	transform: rotateX(90deg) translateY(150px);
	transform-origin: bottom center;
}

.front {
	transform: translateZ(150px);
  border: solid 2px;

  background: -moz-linear-gradient(270deg, rgba(208,255,201,1) 0%, rgba(208,255,201,1) 1%, rgba(0,255,0,1) 99%, rgba(0,255,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(208,255,201,1)), color-stop(1%, rgba(208,255,201,1)), color-stop(99%, rgba(0,255,0,1)), color-stop(100%, rgba(0,255,0,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(208,255,201,1) 0%, rgba(208,255,201,1) 1%, rgba(0,255,0,1) 99%, rgba(0,255,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(208,255,201,1) 0%, rgba(208,255,201,1) 1%, rgba(0,255,0,1) 99%, rgba(0,255,0,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(208,255,201,1) 0%, rgba(208,255,201,1) 1%, rgba(0,255,0,1) 99%, rgba(0,255,0,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(208,255,201,1) 0%, rgba(208,255,201,1) 1%, rgba(0,255,0,1) 99%, rgba(0,255,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0FFC9', endColorstr='#00ff00',GradientType=0 ); /* ie6-9 */
  /*margin: 0 auto;
  vertical-align: middle;
  width: 100%*/
}

.textFront{
  color: black;
  font-size: .5em;
  margin: 0;
  text-align: center;
}

.dollarTrakImageCube{
  border: white solid 2px;
  float: left;
  height: 2.6em;
  margin-top: .2em;
  margin-left: .2em;
  width: 3.4em;
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.jw {
	animation: spin 10s infinite linear;
}

.cube {
	animation: spin 10s infinite linear;
}

@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}

.cube-wrap.vertical .cube {
	margin: 0 auto; /* keeps the cube centered */
	transform-origin: 0 150px;
	animation: spin-vertical 5s infinite linear;
}

.cube-wrap.vertical .top {
	transform: rotateX(-270deg) translateY(-150px);
}

.cube-wrap.vertical .back {
	transform: translateZ(-150px) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
	transform: rotateX(-90deg) translateY(150px);
}

/*.cube {
	animation: spin-vertical 5s infinite linear;
}*/

.myBox{
  text-decoration: none;
}

.myInfoBox{
  display: inline-block;
  height: 8%;
  width: 35%;
}

.myImage{
  border: black solid 3px;
  border-radius: 10px;
  display: inline-block;
  height: 4em;
  margin-left: .3em;
  margin-top: .2em;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  width: 5em;
}

@keyframes example {
    from {height: 4em;
          width: 7em;}
    to {height: 8em;
          width: 11em;}
}

/* The element to apply the animation to */
.myImageLarge {
  border: black solid 3px;
  border-radius: 10px;
  animation-name: example;
  animation-duration: 1s;
  height: 8em;
  margin-left: .3em;
  margin-top: 1%;
  width: 11em;
}

.name_Info{
  display: inline-block;
  height: auto;
  vertical-align: top;
  width: 10em;
}

.myName{
  color: darkblue;
  display: inline-block;
  font-size: 35px;
  font-family: serif;
  margin: 0;
  text-decoration: none;
  vertical-align: top;
  white-space: pre;
}

.myContactInfo{
  color: black;
  font-size: 15px;
  font-family: serif;
  font-weight: lighter;
  margin: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 1.5em;
  vertical-align: top;
  width: 8em;
}

.navTopRight{
    display: inline-flex;
    float: right;
    margin-top: 1%;
}

.homeButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}

.projectEach{
  color: moccasin;
  margin-left: 35%;
  text-decoration: none;
  width: 300px;
}

.gitHubButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 15px;
  height: auto;
  margin-right: .3em;
}

.postsButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}

.photosButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}

.aboutMe{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}


.titleBoxOuter{
  background-color: darkslategray;
  border: solid 2px;
  border-radius: 10px;
  display: inline-block;
  font-size: 5em;
  height: 55rem;
  margin-left: 10%;
  margin-top: 10%;
  padding: 1%;
  text-align: center;
  width: 80%;
}

.titleBox{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+17,207cca+17,2989d8+26,7db9e8+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #207cca 17%, #207cca 17%, #2989d8 26%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 17%,#207cca 17%,#2989d8 26%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#207cca 17%,#207cca 17%,#2989d8 26%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border: solid 2px;
  border-radius: 10px;
  height: 99%;
  margin: 0;
}

.titleName{
  color: black;
  font-family: sans-serif;
  font-size: 50px;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.titleDetailHTML{
  color: darkorange;
  display: inline-block;
  float: left;
  font-size: 38px;
  font: Florence;
  margin-left: 5%;
  margin-right: 4%;
}

.titleDetailCSS{
  color: yellow;
  display: inline-block;
  float: left;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 0;
}

.titleDetailJavaScript{
  color: white;
  font-size: 38px;
  margin-right: 4%;
  margin-bottom: 0;
}

.titleDetailREACT{
  color: blue;
  float: left;
  font-size: 40px;
  display: inline-block;
  margin-right: 4%;
  margin-top: 5%;
  margin-bottom: 0;
}

.titleDetailFireBase{
  color: red;
  display: inline-block;
  font-size: 35px;
  margin-right: 2%;
}

.titleDetails{
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.projectsArea{
  border: grey solid 6px;
  height: 7.1em;
  margin-bottom: 0;
  width: 100%;

  background: -moz-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(192,192,192,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(192,192,192,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0c0c0',GradientType=0 ); /* ie6-9 */
}

.projectsTitle{
  color: black;
  float: left;
  font-size: .2em;
  margin: 0;
  margin-left: .2em;
  margin-top: .2em;
}

/*.dollarTrakImage{
  border: white solid 2px;
  float: left;
  height: 1em;
  margin-top: .6em;
  margin-left: 1em;
  width: 1.7em;
}

.spursBlogImage{
  border: white solid 2px;
  float: left;
  height: 1em;
  margin-top: .6em;
  margin-left: 1em;
  width: 1.5em;
}

.tic-tac-toeImage{
  border: black solid 2px;
  float: left;
  height: 1em;
  margin-top: .6em;
  margin-left: 1em;
  width: 1em;
}*/

.bioText{
  color: black;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .2;
  padding: .8em;
  text-indent: 1em;
  width: auto;
}

.postsSection{
  background-color: cadetblue;
  border: solid 2px;
  height: auto;
  margin-left: 8%;
  margin-top: 10%;
  padding: 2%;
  width: 80%;
}

.postsTextTitle{
  color: darkblue;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 1%;
  margin-right: .3em;
}

.postsText{
  color: black;
  display: block;
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  margin: 1%;
  word-wrap: break-word;
}

.topButton{
  display: none;
}

.theIronYardTitle{
  color: white;
  display: inline-block;
  font-size: 3em;
  font-weight: normal;
  margin-left: 22%;
  margin-top: 2em;
  white-space: pre;
}

.theIronYard{
  color: orchid;
  font-size: 3em;
  font-weight: normal;
}

.imageTIY{
  border: black solid 4px;
  display: block;
  margin-top: 1%;
  margin: 0 auto;
  width: 60%;
}

.imageCert{
  border: black solid 4px;
  display: block;
  height: 5%;
  margin: 0 auto;
  margin-top: 5em;
  width: 60%;
}

.caption1{
  color: white;
  display: inline-block;
  font-size: 2em;
  margin-top: 2%;
  margin-left: 8em;
  margin-bottom: 0;
}

.photosPage{
  background-color: darkslategray;
  border: solid 5px;
  height: auto;
  padding-bottom: 2em;
}

.photos{
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 0 auto;
  vertical-align: top;
  width: 60%;
}

.photos_instruction{
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 1%;
  margin-right: .3em;
  vertical-align: top;
  width: 60%;
}

.photosFooter{
  padding-bottom: 1em;
}

.homeButton_bottom{
  font-size: 2em;
  margin-left: 1em;
  padding-bottom: 5px;
}

.bioSection{
  background-image: url("/styles/tx.jpg");
  border: black solid 5px;
  border-radius: 10px;
  height: 43em;
  margin-left: 7%;
  margin-top: 2%;
  padding: 5em;
  width: 82%;
}

.bioBackground{
  background-color: lightyellow;
  border: solid 2px;
  border-radius: 15px;
  height: auto;
  opacity: .85;

}


@media screen and (max-width: 980px) {

  .bodyPage{
    background-image: url("/styles/kb_large.jpg");
    width: 100%;
  }

  .navBar{
    background-color: lightgrey;
    height: 20em;
    width: 100%;
  }

  .myInfoBox{
    display: inline-block;
    height: 10em;
    margin-left: 10em;
    width: 70%;
  }

  .myImage {
    display: inline-block;
    height: 10em;
    margin-left: 3em;
    margin-top: 1%;
    width: 13em;
  }

  .name_Info{
    display: inline-block;
    height: 5em;
    vertical-align: top;
    width: 10em;
  }

  .myBox{
    text-decoration: none;
    width: 30em;
  }

  .myContactInfo{
    font-size: 2em;
    width: 10em;
  }

  .homeButton{
    font-size: 3em;
    height: 2.5em;
    margin-bottom: .2em;
    margin-left: .2em;
    padding: .6em;
    width: auto;
  }

  .navTopRight{
      display: inline-flex;
      float: left;
      height: auto;
      width: auto;
  }

  .gitHubButton{
    font-size: 3em;
    height: auto;
    height: 2.5em;
    margin-left: .002em;
    width: auto;
  }

  .postsButton{
    font-size: 3em;
    height: 2.5em;
    margin-left: .002em;
    padding: .6em;
    text-decoration: none;
  }

  .photosButton{
    font-size: 3em;
    height: 2.5em;
    margin-left: .002em;
    padding: .6em;
    text-decoration: none;
  }

  .aboutMe{
    font-size: 3em;
    height: 2.5em;
    margin-left: .002em;
    padding: .6em;
  }

  .titleBoxOuter{
    height: 68rem;
    margin-top: 4em;
  }

  .titleName{
    font-size: 90px;
  }

  .titleDetailHTML{
    font-size: 80%;
    margin: 0;
    margin-left: 4%;
    margin-right: 12%;
    margin-top: 6%;
  }

  .titleDetailCSS{
    font-size: 60px;
    margin: 0;
    margin-left: 18%;
    margin-right: 10%;
    margin-top: 5%;
  }

  .titleDetailJavaScript{
    display: inline-block;
    font-size: 58px;
    margin: 0;
    margin-left: 2%;
    margin-top: 0%;
  }

  .titleDetailREACT{
    font-size: 60px;
    margin-left: 3%;
    margin-top: 0%;
  }

  .titleDetailFireBase{
    font-size: 55px;
    margin-left: 0;
    margin-top: 8%;
  }

  .cube {
  	position: relative;
    margin-left: 3.3em;
    margin-top: .8em;
  	width: 200px;
  	transform-style: preserve-3d;
  }

  .textFront{
    font-size: .6em;
  }

  .textRight{
    font-size: .6em;
  }

  .textLeft{
    font-size: .6em;
  }

  .textBack{
    font-size: 1em;
  }

  .projectTitle{
    font-size: .8em;
  }

  .projectsArea{
    height: 7em;
  }

  /*.dollarTrakImage{
    margin-left: .3em;
    height: 1.3em;
    width: 2em;
  }

  .spursBlogImage{
    margin-left: .3em;
    height: 1.3em;
    width: 2em;
  }

  .tic-tac-toeImage{
    margin-left: .3em;
    height: 1.3em;
    width: 1.5em;
  }*/

  .theIronYardTitle{
    font-size: 3em;
    margin-left: 1.7em;
    margin-top: 7em;
  }

  .theIronYard{
    font-size: 3em;
  }

  .caption1{
    font-size: 3em;
    margin-left: 2em;
  }

  .photos{
    margin: 0 auto;
    width: 80%;
  }

  .imageTIY{
    display: block;
    height: auto;
    vertical-align: top;
    margin-top: 5%;
    margin: 0 auto;
    width: 60%
  }

  .imageCert{
    border: black solid 4px;
    display: block;
    height: 5%;
    margin: 0 auto;
    margin-top: 5em;
    width: 60%;
  }

  .postsSection{
    height: auto;
    margin-top: 21em;
    width: 80%;
  }

  .postsTextTitle{
    font-size: 3em;
    width: 80%;
  }

  .postsText{
    font-size: 2em;
    margin: 1%;
    margin-top: 2%;
    word-wrap: break-word;
  }

  .topButton{
    background-color: lightblue;
    border-radius: 5px;
    border: black solid 2px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: black;
    display: block;
    font-size: 3em;
    height: auto;
    margin: 0 auto;
    padding: .5em;
    width: 8em;
  }

  .bioText{
    font-size: 2.4em;
    text-indent: 1em;
    padding-bottom: 0;
  }

  .bioSection{
    background-image: url("/styles/tx_large.jpg");
    height: 76em;
    margin-left: 1%;
    margin-top: 30%;
    padding: 5em;
    width: 100%;
  }
}
