*{
  box-sizing: border-box;
}

.bodyPage{
  background-image: url("/styles/kb.jpg")
}

.hidden{
  display: none;
}

.navBar{
  background-color: lightgrey;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 5em;
  width: 100%;
}

.myBox{
  text-decoration: none;
}

.myInfoBox{
  display: inline-block;
  height: 8%;
  width: 35%;
}

.myImage{
  border: black solid 3px;
  border-radius: 10px;
  display: inline-block;
  height: 4em;
  margin-left: .3em;
  margin-top: .5em;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  width: 7em;
}

@keyframes example {
    from {height: 4em;
          width: 7em;}
    to {height: 8em;
          width: 11em;}
}

/* The element to apply the animation to */
.myImageLarge {
  border: black solid 3px;
  border-radius: 10px;
  animation-name: example;
  animation-duration: 1s;
  height: 8em;
  margin-left: .3em;
  margin-top: 1%;
  width: 11em;
}

.name_Info{
  display: inline-block;
  height: 150px;
  vertical-align: top;
  width: 200px;
}

.myName{
  color: darkblue;
  display: inline-block;
  font-size: 35px;
  font-family: serif;
  margin: 0;
  text-decoration: none;
  vertical-align: top;
  white-space: pre;
}

.myContactInfo{
  color: black;
  font-size: 15px;
  font-family: serif;
  font-weight: lighter;
  margin: 0;
  margin-right: 0;
  vertical-align: top;
  white-space: pre;
  width: 150px;
}

.navTopRight{
    display: inline-flex;
    float: right;
    margin-top: 1%;
}

.homeButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}

.projectEach{
  color: moccasin;
  margin-left: 35%;
  text-decoration: none;
  width: 300px;
}

.gitHubButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 15px;
  height: auto;
  margin-right: .3em;
}

.postsButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}

.photosButton{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}

.aboutMe{
  background-color: lightblue;
  border-radius: 5px;
  border: black solid 2px;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: black;
  font-size: 16px;
  height: auto;
  margin-right: .3em;
  padding: 4px;
  text-decoration: none;
}


.titleBoxOuter{
  background-color: darkslategray;
  border: solid 2px;
  border-radius: 10px;
  display: inline-block;
  font-size: 5em;
  height: 30rem;
  margin-left: 10%;
  margin-top: 5%;
  padding: 1%;
  text-align: center;
  width: 80%;
}

.titleBox{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,207cca+17,207cca+17,2989d8+26,7db9e8+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top, #1e5799 0%, #207cca 17%, #207cca 17%, #2989d8 26%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 17%,#207cca 17%,#2989d8 26%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e5799 0%,#207cca 17%,#207cca 17%,#2989d8 26%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border: solid 2px;
  border-radius: 10px;
  height: 99%;
  margin: 0;
}

.titleName{
  color: black;
  font-family: sans-serif;
  font-size: 50px;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.titleDetailHTML{
  color: darkorange;
  display: inline-block;
  float: left;
  font-size: 38px;
  font: Florence;
  margin-left: 5%;
  margin-right: 4%;
}

.titleDetailCSS{
  color: yellow;
  display: inline-block;
  float: left;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 0;
}

.titleDetailJavaScript{
  color: white;
  font-size: 38px;
  margin-right: 4%;
  margin-bottom: 0;
}

.titleDetailREACT{
  color: blue;
  float: left;
  font-size: 40px;
  display: inline-block;
  margin-right: 4%;
  margin-top: 5%;
  margin-bottom: 0;
}

.titleDetailFireBase{
  color: red;
  display: inline-block;
  font-size: 35px;
  margin-right: 2%;
}

.titleDetails{
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.projectsArea{
  background-color: silver;
  border: white solid 4px;
  height: 2.2em;
  margin-bottom: 0;
}

.projectsTitle{
  color: black;
  float: left;
  font-size: .5em;
  margin: 0;
  margin-left: .2em;
  margin-top: .2em;
}

.dollarTrakImage{
  border: white solid 2px;
  float: left;
  height: 1em;
  margin-top: .6em;
  margin-left: 1em;
  width: 1.7em;
}

.spursBlogImage{
  border: white solid 2px;
  float: left;
  height: 1em;
  margin-top: .6em;
  margin-left: 1em;
  width: 1.5em;
}

.tic-tac-toeImage{
  border: black solid 2px;
  float: left;
  height: 1em;
  margin-top: .6em;
  margin-left: 1em;
  width: 1em;
}


.bioSection{
  background-image: url("/styles/tx.jpg");
  border: black solid 5px;
  border-radius: 10px;
  height: 43em;
  margin-left: 7%;
  margin-top: 2%;
  padding: 5em;
  width: 82%;
}

.bioBackground{
  background-color: lightyellow;
  border: solid 2px;
  border-radius: 15px;
  height: auto;
  opacity: .85;

}

.bioText{
  color: black;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .2;
  padding: .8em;
  width: auto;
}


.postsSection{
  background-color: cadetblue;
  border: solid 2px;
  height: auto;
  margin-left: 8%;
  margin-top: 2%;
  padding: 2%;
  width: 80%;
}

.postsTextTitle{
  color: darkblue;
  font-size: 25px;
  font-weight: lighter;
  margin-top: 1%;
  margin-right: .3em;
}

.postsText{
  color: black;
  display: block;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  margin: 1%;
  word-wrap: break-word;
}

.theIronYardTitle{
  color: white;
  display: inline-block;
  font-size: 3em;
  font-weight: normal;
  margin-left: 22%;
  white-space: pre;
}

.theIronYard{
  color: orchid;
  font-size: 3em;
  font-weight: normal;
}

.imageTIY{
  border: black solid 4px;
  display: block;
  margin-top: 1%;
  margin: 0 auto;
  width: 60%;
}

.imageCert{
  border: black solid 4px;
  display: block;
  height: 5%;
  margin: 0 auto;
  margin-top: 5em;
  width: 60%;
}

.caption1{
  color: white;
  display: inline-block;
  font-size: 2em;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 0;
}

.photosPage{
  background-color: darkslategray;
  border: solid 5px;
  height: auto;
}

.photos{
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 0 auto;
  vertical-align: top;
  width: 60%;
}

.photos_instruction{
  border: solid 5px;
  display: flex;
  height: 45%;
  margin: 1%;
  margin-right: .3em;
  vertical-align: top;
  width: 60%;
}

.photosFooter{
  padding-bottom: 1em;
}

.homeButton_bottom{
  font-size: 2em;
  margin-left: 1em;
  padding-bottom: 5px;
}

@media screen and (max-width: 980px) {

  .navBar{
    height: 20em;
    width: 100%;
  }

  .myInfoBox{
    display: inline-block;
    height: 10em;
    margin-left: 10em;
    width: 60%;
  }

  .myImage {
    display: inline-block;
    height: 10em;
    margin-left: 3em;
    margin-top: 1%;
    width: 13em;
  }

  .name_Info{
    display: inline-block;
    height: 5em;
    vertical-align: top;
    width: 20%;
  }

  .myName{
    font-size: 55px;
  }

  .myContactInfo{
    font-size: 35px;
  }

  .homeButton{
    font-size: 3em;
    height: 2.5em;
    margin-bottom: .2em;
    margin-left: .2em;
    padding: .6em;
    width: auto;
  }

  .navTopRight{
      display: inline-flex;
      float: left;
      height: auto;
      width: auto;
  }

  .gitHubButton{
    font-size: 3em;
    height: auto;
    height: 2.5em;
    margin-left: .002em;
    width: auto;
  }

  .postsButton{
    font-size: 3em;
    height: 2.5em;
    margin-left: .002em;
    padding: .6em;
    text-decoration: none;
  }

  .photosButton{
    font-size: 3em;
    height: 2.5em;
    margin-left: .002em;
    padding: .6em;
    text-decoration: none;
  }

  .aboutMe{
    font-size: 3em;
    height: 2.5em;
    margin-left: .002em;
    padding: .6em;
  }

  .titleBoxOuter{
    height: 49rem;
  }

  .titleName{
    font-size: 90px;
  }

  .titleDetailHTML{
    font-size: 80%;
    margin: 0;
    margin-left: 4%;
    margin-right: 12%;
    margin-top: 6%;
  }

  .titleDetailCSS{
    font-size: 60px;
    margin: 0;
    margin-left: 18%;
    margin-right: 10%;
    margin-top: 5%;
  }

  .titleDetailJavaScript{
    display: inline-block;
    font-size: 58px;
    margin: 0;
    margin-left: 2%;
    margin-top: 0%;
  }

  .titleDetailREACT{
    font-size: 60px;
    margin-left: 3%;
    margin-top: 0%;
  }

  .titleDetailFireBase{
    font-size: 55px;
    margin-left: 0;
    margin-top: 8%;
  }

  .dollarTrakImage{
    margin-left: .3em;
    height: 1.3em;
    width: 2em;
  }

  .spursBlogImage{
    margin-left: .3em;
    height: 1.3em;
    width: 2em;
}

  .tic-tac-toeImage{
    margin-left: .3em;
    height: 1.3em;
    width: 1.5em;
  }

  .theIronYardTitle{
    font-size: 3em;
    margin-left: 1.7em;
  }

  .theIronYard{
    font-size: 3em;
  }

  .caption1{
  font-size: 2em;
 }

.photos{
  margin: 0 auto;
  width: 80%;
 }

 .imageTIY{
   display: inline-flex;
   height: auto;
   vertical-align: top;
   margin-top: 5%;
   margin: 0 auto;
   width: 60%
 }

 .imageCert{
   border: black solid 4px;
   display: block;
   height: 5%;
   margin: 0 auto;
   margin-top: 5em;
   width: 60%;

 }

  .postsTextTitle{
    font-size: 45px;
    width: 80%;
  }

  .postsSection{
    height: auto;
    width: 80%;
  }

  .postsText{
    margin: 1%;
    margin-top: 2%;
    word-wrap: break-word;
  }

  .bioText{
    font-size: 2.2em;
  }

  .bioSection{
    background-image: url("/styles/tx_large.png");
    height: 76em;
    margin-left: 1%;
    margin-top: 2%;
    padding: 5em;
    width: 100%;
  }
}
